<%- include('header'); -%> 



<div class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">Logo</a>
    </div>
</div>
<div class="container-fluid login form-signin w-100 m-auto">
    <form action="/" method="post">
        <div class="container">
            <h5>Email</h5>
            <input type="email" class="form-control" name="userEmail" id="" placeholder="user@email.com">
        </div>
        <div class="container">
            <h5>Password</h5>
            <input type="password" class="form-control" name="userPassword" id="">
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/signup">New Account?</a>
</div>



<%- include('footer') -%> 